*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background: #FFFFFF;
}
.btn{
    background: #469165;
    padding: 16px 12px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 19px;
    text-align: center;
}
.logo img{
    width: 139px;
    height: 60px;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    line-height: 125%;
    text-align: center;
}
.menu a:hover{
    background: rgb(241, 157, 157);
    padding: 8px 10px;
    border-radius: 4px;
}

#about{
    max-width: 1600px;
    height: 674px;
    background: url(../assets/hero-bg.png);
    /* border: 1px solid aqua; */
}
.about-container{
    width: 1360px;
    text-align: center;
    margin: 154px auto;
    /* border: 2px solid aquamarine; */
}
.about-container h3{
    /* border: 2px solid red; */
    width: 229px;
    height: 35px;
    margin: 0 auto;
    background: aqua;
    padding: 8px 12px 8px 12px;
    gap: 6px;
    /* text-align: center; */
    background: rgba(255, 255, 255, 1);
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}
.about-container h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    width: 770px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.color{
    color: #30B868;
}
.about-container p{
    font-size: 18px;
    line-height: 24px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
}
.about-btne-one{
    padding: 16px 12px;
    border-radius: 4px;
    /* border: none; */
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 19px;
    text-align: center;
    background: transparent;
    gap: 24px;
    
}
/* banner end */

.card-section{
    max-width: 1600px;
    /* border: 2px solid aqua; */
}
.card-heading{
    margin: 0 auto;
    text-align: center;
}
.card-heading-text{
    font-size: 48px;
    font-weight: bold;
    margin-top: 32px;
    color: #001931;
}
.card-heading-pa{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.card-body{
    width: 1360px;
    display: flex;
    margin: 44px auto;
    gap: 16px;
}
.card{
    width: 322px;
    /* border: 2px solid rebeccapurple; */
    padding: 24px;
    box-shadow:  0 6px 50px 0 #00000048;
}
.card img {
    background: #FF4500;
    width: 60px;
    /* padding: 70px; */
    border-radius: 100px;
}
.card h1{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
#second-brain-section{
    width: 1360px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    gap: 70px;
}
.second-brain-imags img{
    width: 100%;
    border-radius: 12px;
}
.second-brain-text{
width: 700px;
}
.second-brain-text h3{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}
.second-brain-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.second-brain-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.second-brain-text li{
    font-size: 16px;
    line-height: 25px;
    color: #001931;
}

#early-access-section{
    max-width: 1600px;
    margin: 120px 0;
    /* border: 2px solid red; */
}
.early-access-section-heading{
    width: 1360px;
    background: #F7F6F2;
    margin: 0 auto;
    padding: 80px 40px 80px 40px;
    text-align: center;
}
.early-access-section-heading h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin: 80px 40px 16px 40px;
}
.early-access-section-heading p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    width: 1280px;
    margin-bottom: 40px;
}
.early-text{
    margin-top: 30px;
}
.footer-section{
    max-width: 1600px;
    background: #001931;
}
.footer-section-body{
    display: flex;
    width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    padding-top: 120px;


}
.footer-img img{
    width: 139px;
}
.footer-link h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-link a{
    width: 92px;
    gap: 16px;
    background: #F7F6F2;
    border-radius: 100%;
}
.rights{
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    margin: 120px 0 16px 0;
}