*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background: #FFFFFF;
}
.btn{
    background: #469165;
    padding: 16px 12px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 19px;
    text-align: center;
}
.logo img{
    width: 139px;
    height: 60px;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    line-height: 125%;
    text-align: center;
}
.menu a:hover{
    background: rgb(241, 157, 157);
    padding: 8px 10px;
    border-radius: 4px;
}
